:root {
  --bg-color: #f5f2e7;
  --text-dark: #333333;
  --accent-blue: #4a4ae2;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
 font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal; 
  color: var(--text-dark);
}
